@import "normalize";
@import "var";
// @import "fonts";
//@import "mixins";
// @import 'blocks/header';


html,
body {
  height: 100%;
}

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
 
}

main {
  flex: 1 1 100%;
  position: relative;
}
section{
  min-height: 100vh;
  overflow: hidden;
  background-color: #000;
  display: flex;
  flex-direction: column;
  @media (min-width:768px){
    flex-direction: row;
  }
  div{
    flex: 0 0 50%;
   
  }
  
  .description{
    margin-top: 120vh;
    p{
      color: white;
    }
    @media (min-width:768px){
     margin-top: 0;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    gap: 2rem;
    padding: 0 2rem;
  }
  span{
    position: absolute;
    background-color: white;
    pointer-events: none;
    
    background-size: cover;
    animation: animate 6s linear forwards;
  }
}
@media (min-width:320px) {
  @keyframes animate {
    0%{
      
      transform:perspective(100px) rotateY(0deg) translateX(-250px);
    }
    50%{
      opacity: 1;
    }
    100%{
     
      transform: perspective(100px) rotateY(50deg) translateX(1000%);
      opacity: 0;
    }
  }
}
@media (min-width:480px) {
  @keyframes animate {
    0%{
      
      transform:perspective(175px) rotateY(0deg) translateX(-250px);
    }
    50%{
      opacity: 1;
    }
    100%{
     
      transform: perspective(175px) rotateY(50deg) translateX(1000%);
      opacity: 0;
    }
  }
}
@media (min-width:768px) {
  @keyframes animate {
    0%{
      
      transform:perspective(200px) rotateY(0deg) translateX(-250px);
    }
    50%{
      opacity: 1;
    }
    100%{
     
      transform: perspective(200px) rotateY(50deg) translateX(1000%);
      opacity: 0;
    }
  }
}
@media (min-width:992px) {
  @keyframes animate {
    0%{
      
      transform:perspective(400px) rotateY(0deg) translateX(-250px);
    }
    50%{
      opacity: 1;
    }
    100%{
      
      transform: perspective(400px) rotateY(50deg) translateX(1000%);
      opacity: 0;
    }
  }
}
@media (min-width:1366px) {
  @keyframes animate {
    0%{
      
      transform:perspective(500px) rotateY(0deg) translateX(-250px);
    }
    50%{
      opacity: 1;
    }
    100%{
     
      transform: perspective(500px) rotateY(50deg) translateX(1000%);
      opacity: 0;
    }
  }
}



